@page "/vardgivare"
@inject IHealthcareProviderClient ProviderClient;

<PageTitle>Vårdgivare</PageTitle>

@if(providers == null)
{
    <p><em>Laddar...</em></p>
}
else
{
    @foreach(var provider in providers)
    {
        <div class="container mt-3">
            <div class="row">
                 <div class="card">
                  <div class="card-header text-center">
                    @provider.Name
                  </div>
                  <div class="card-body text-center">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    <a href="/rapportera/@provider.Id" class="btn btn-primary">Rapportera</a>
                  </div>
                </div>
            </div>
        </div>
       
    }
}

@code {
    [CascadingParameter] public AppState AppState { get; set; } = null!;

    private IReadOnlyList<HealthcareProviderDto> providers;

    protected override async Task OnInitializedAsync()
    {
        var pagedProviderResponse = await ProviderClient.GetHealthcareProvidersAsync(1, 100);

        providers = pagedProviderResponse.Data.ToArray();
    }
}